.buttonPrimary {
    background-color: #3e6ae1;
    border: none;
    padding: 12px 40px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.buttonPrimary:hover {
    background-color: #3457b1;
}