.signup {
  display: flex;
  flex-direction: column;
}

.signup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
}

.signup__logo > a > img {
  object-fit: contain;
  width: 100px;
}

.signup__language {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 15px;
  transition: all 0.2s;
}

.signup__language:hover {
  background-color: hsla(0, 0%, 50.2%, 0.125);
}

.signup__language > span {
  font-size: 14px;
  font-weight: 600;
}

.signup__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 330px;
  max-width: 90vw;
  align-self: center;
  margin-top: 80px;
}

.signup__info > h1 {
  font-size: 35px;
  margin-left: -70px;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.signup__form > label {
  color: #5c5e62;
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 8px;
}

.signup__form > input {
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  outline: none;
  border-radius: 50px;
  padding: 12px 20px;
  color: #393c41;
  font-weight: 600;
}

.signup__form > input:focus {
  border: 1px solid #d6d6d7;
  transition: all 0.2s;
}

.signup__form > button {
  background-color: #3e6ae1;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.4s;
  text-align: center;
}

.signup__form > button:hover {
  background-color: #3457b1;
}

.signup__divider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.signup__divider > hr {
  width: 40%;
  height: 0;
  opacity: 0.3;
  margin-top: 10px;
}

.signup__divider > span {
  font-weight: 600;
  font-size: 14px;
  color: #5c5e62;
}

.signup__info > a > button {
  background-color: transparent;
  border: 3px solid #171a20;
  width: 100%;
  padding: 10px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #5c5e62;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.signup__info > a > button:hover {
  background-color: #171a20;
  color: white;
  text-align: center;
}

.signup__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 13px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .signup__info > h1 {
    margin: 0px;
  }
}

@media screen and (max-width: 400px) {
  .signup__header {
    flex-direction: column;
    background-color: white;
  }
  .signup__footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
}
